@using Students.Interfaces
@using System.Globalization
@{
    ViewData["Title"] = "Home Page";
}

@inject ISharedResourcesService sharedResourcesService
@{
    string? culture = Context.Session.GetString("Culture");
    CultureInfo cultureInfo = CultureInfo.GetCultureInfo("en-US");
    if (culture != null)
    {
        cultureInfo = CultureInfo.GetCultureInfo(culture);
    }
}

<div class="text-center">
    <h1 class="display-4">@sharedResourcesService.GetString("Welcome", cultureInfo)</h1>
    <p> @sharedResourcesService.GetString("LearnAbout", cultureInfo) <a href="https://learn.microsoft.com/aspnet/core">@sharedResourcesService.GetString("LinkASP", cultureInfo)</a>.</p>
</div>
