@using Students.Interfaces
@using System.Globalization
@{
    ViewData["Title"] = "Privacy Policy";
}
@inject ISharedResourcesService sharedResourcesService
@{
    string? culture = Context.Session.GetString("Culture");
    CultureInfo cultureInfo = CultureInfo.GetCultureInfo("en-US");
    if (culture != null)
    {
        cultureInfo = CultureInfo.GetCultureInfo(culture);
    }
}
<h1>@sharedResourcesService.GetString("PrivacyPolicy", cultureInfo)</h1>

<p>@sharedResourcesService.GetString("UsePolicy", cultureInfo)</p>
